# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD1P-LOQpBAhbqSKPFGVTythOco6FI08hQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=briyani-fe26c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=briyani-fe26c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=briyani-fe26c.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=265449095944
NEXT_PUBLIC_FIREBASE_APP_ID=1:265449095944:web:32a2ee9c4683cc583722bd

# Razorpay Configuration (for payment integration)
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id